@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

body {
    background-color: rgb(249, 254, 255);
    font-family:'Sansita', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  header {
    background-color:rgba(20,30,13, .7);
    
}
nav a:hover {
    background-color: black;
    text-decoration: none;
}
    
  h1 {
    color: rgb(92, 190, 177);
    margin-left: 20px;
    text-align: center;
  }
#content {
    max-width: 1600px;
    margin: 0 auto;
    height: 100px;
    background-color: rgb(255, 255, 255);
   
  }
  #background {
    height: 725px;
    
  }
  #hero-msg h1  {
    text-align: center;
    background-color: rgb(249, 254, 255);
    margin: 0 auto;
   
}
#hero-msg h4  {
    
    background-color: rgb(249, 254, 255);
    text-align: center;
    margin: 0 auto;
}
.button-box  {
    text-align: center;
    background-color: rgb(249, 254, 255);
    margin: 0 auto;
    
}
main section {
    background-color: rgb(171, 210, 199);
}

.logo {
    width: 80px;
}
#hero-img {
    width: 100px;
    margin: 150px;
}
nav a {
    text-align: center;
    color: #060606;
    text-decoration: none;
}  

footer a {
    text-align: center;
    color: #0f0e0e;
    text-decoration: none;
    background-color:rgb(220, 193, 136);
    color: #000000;
}  

.join {
    text-align: center;
    color: #060606;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}  

.book {
    text-align: center;
    color: #a29c9c;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}  
nav a {
    text-align: center;
    color: #ada9a9;
    text-decoration: none;
    padding: 35px;

}  
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}    
div {
    
    margin: 100px;
    
}
nav a:hover {
    background-color: rgb(87, 185, 167);
    color: #cfedea;
}    
.home-title {
    background-color: black;
    color: #987e5d;
    font-family:'Sansita', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}    
   
h4 {
    background-color: black;
    color: #6fb7b4;
}    
   
.book:hover {
    background-color: rgb(220, 193, 136);
    color: #070907;
    text-align: center;
}    
   
.join:hover
{
    background-color: rgb(220, 193, 136);
    color: #171411;
    text-align: center;
}    
.msg h2 {
    background-color: rgb(220, 193, 136);
    color: #0a0806;
    text-align: center;
}  
.msg p {
    background-color: rgb(220, 193, 136);
    color: #0f0b06;
    text-align: center;
    font-size: .8em;
    padding-bottom: 15px;

}     

footer {
    background-color: rgb(220, 193, 136);
    color: #0b0a08;
    padding: 25px 50px;
    margin-top: 200px;

}  
footer a:hover {
    background-color:rgb(220, 193, 136);
    color: #0d0c0a;
}  
div {

  margin: 100px;
  }

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
  }

  h2 {
    margin: 0;
}

.icon {
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}
#logo_link {  
    padding-top: 5px;
}

.rivers-card {  
    margin: 200px 0;
    padding: 400px; 
}

.camping-card {  
    margin: 200px 0;
    padding: 400px; 
}

.rapids-card {  
    margin: 200px 0;
    padding: 400px; 
}
.card-img {
    border: 10px solid #d9c2a3;
    padding: 5px; 
}
main section img {
    box-sizing: border-box;
}