@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

body {
    background-color: rgb(249, 254, 255);
    font-family:'Sansita', sans-serif;
    font-size: 22px;
    
  }
header {
    background-color:rgba(20, 30, 13, 0.755);
    display: grid;
    grid-template-columns: 150px auto;
    
    
    
}
nav a:hover {
    background-color: black;
    text-decoration: none;
}
    
  h1 {
    color: rgb(92, 190, 177);
    margin-left: 20px;
    text-align: center;
  }
#content {
    max-width: 1600px;
    margin: 0 auto;
    height: 100px;
    background-color: rgb(255, 255, 255);
   
  }
  #background {
    display:grid;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: rgb(147, 233, 209);
  }
  #hero-msg h1  {
    text-align: center;
    background-color: rgba(249, 254, 255, 0);
    margin: 0 auto;
   
}
#hero-msg h4  {
    
    background-color: rgba(249, 254, 255, 0);
    text-align: center;
    margin: 0 auto;
    color: rgb(64, 67, 52);

}
.button-box  {
    text-align: center;
    background-color: rgba(249, 254, 255, 0);
    margin: 0 auto;
    
}
main section {
    background-color: rgba(171, 210, 199, 0);
    text-align: center;
}

.logo {
    width: 80px;
}
#hero-img {
    
    width: 100%;
    margin: 200px 0;
    margin-top: -5px;
  
  
}


footer a {
    display: absolute;
    text-align: center;
    color: #0f0e0e;
    text-decoration: none;
    background-color:rgba(220, 193, 136, 0);
    color: #000000;
    
}  

.join {
    text-align: center;
    color: #060606;
  
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 5px;
   
}  

.book {
    text-align: center;
    color: #a29c9c;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}  
nav a {
    text-align: center;
    color: #ada9a9;
    text-decoration: none;
    padding: 35px;
    text-align: center;
    

}  
footer p {
    font-size: 1.2em;
    
}  
footer p a:hover {
    text-decoration: underline;
}    
div {
    
    margin: auto;
    
}
nav a:hover {
    background-color: rgba(87, 185, 167, 0.838);
    color: #cfedea;
}    
.home-title {
    background-color: black;
    color: #987e5d;
    font-family:'Sansita', sans-serif;
    font-size: 2em;
    margin-top: 30px;
}    
   
.home-grid{
    display:grid;
    grid-template-columns:(10fr);
}
h4 {
    background-color: black;
    color: #6fb7b4;
}    
   
.book:hover {
    background-color: rgb(220, 193, 136);
    color: #070907;
    text-align: center;
}    
   
.join:hover
{
    background-color: rgb(220, 193, 136);
    color: #171411;
    text-align: center;
}    
.msg h2 {
    background-color: rgb(220, 193, 136);
    color: #0a0806;
    text-align: center;
}  
.msg p {
    background-color: rgb(220, 193, 136);
    color: #0f0b06;
    text-align: center;
    font-size: .8em;
    padding-bottom: 15px;

}     

footer {
    background-color: rgba(220, 193, 136, 0.297);
    color: #0b0a08;
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #6f7364;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-gap: 70px;

    

}  
footer a:hover {
    background-color:rgb(220, 193, 136);
    color: #0d0c0a;
}  


.msg {
    display:grid;
    background-color: #6f73643c;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f736400;
   
   
   

  }

 h2 {
    margin: 0;
}
.logo{
    width: 80px;
}
.icon {
    padding-top: 10px;
    width: 80px;
}

footer .social img {
    padding-top: 15px;
}
#logo_link {  
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}

.rivers-card {  
    margin: 100px 0;
    padding: 400px; 
    grid-column: 2/4;
    grid-row: 2/3;
    height: 300px;
    width: 300px;
    margin-left: -300px;
}

.camping-card { 
    
    margin: 100px 0;
    padding: 400px; 
    grid-column: 5/7;
    grid-row: 2/3;
    height: 300px;
    width: 300px;
    margin-left: -150px;
}

.rapids-card {  
    margin: 100px 0;
    padding: 400px; 
    grid-column: 8/10;
    grid-row: 2/3;
    height: 300px;
    width: 300px;
}


.card-img {
    display:grid;
    border: 10px solid #d9c2a300;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: 300px;
   
}
.mountains{
   
    margin: 200px 0;
    padding: 100px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 10px 5px 10px #6f7364;
    width: 100%;
    
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
 section {
    display: block;
 }    

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}
.hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: -100px; 

}
.hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.hero-msg{
    grid-column: 2/5;
    grid-row: 2/4;
   margin-top: 100px;
   
    

}
.home-grid{
    display:grid;
    grid-template-columns:  100px repeat(auto-fill, 100px) 200px;

}


            